<%- include ('partials/header') %>


<div class="container">
<h1> Movie Details </h1>

<p><img src="/images/<%= video.image %>" /></p>
<p>Title: <%= video.title %></p>
<p>Genre: <%= video.genre %></p>
<p>Description: <%= video.description %></p>


<form action="/videos/edit/<%= video._id %>" method="POST">

    <button type="submit" class="btn btn-warning">Edit video</button>
    
</form>


<form action="/videos/<%= video._id %>?_method=DELETE" method="POST">

<button type="submit" class="btn btn-danger">Delete video</button>

</form>

<p>
<a href="/">Back to List</a>
</p>

</div>
<%- include ('partials/footer') %>
